<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PhotoLynk.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.1.4</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1E701C24A0718C3FF4A5C44C85DB963543C267D2</string>
				<key>dateExpires</key>
				<string>05.07.2026</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1E701C24A0718C3FF4A5C44C85DB963543C267D2</string>
						<key>dateExpires</key>
						<string>05.07.2026</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>hermes.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>C9X2WT7AA5</string>
						<key>name</key>
						<string>Viktor Pavlyshyn</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>C9X2WT7AA5.com.photosync.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>C9X2WT7AA5</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>PhotoLynk.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>706e1046-ead7-46b9-9a16-2e9577f43de1</string>
				<key>dateExpires</key>
				<string>04.12.2026</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.photosync.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>C9X2WT7AA5</string>
				<key>name</key>
				<string>Viktor Pavlyshyn</string>
			</dict>
			<key>versionNumber</key>
			<string>1.1.1</string>
		</dict>
	</array>
</dict>
</plist>
